.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.listElement {
  margin: 10px;
}
img {
  margin: 5px;
}

.board {
  min-width: 300px;
  min-height: 500px;
  width: "100%";
  height: "100%";
  border: 2px solid black;
  margin-right: 20px;
}

.boards {
  display: flex;
  justify-content: center;
}

.animals {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 12px 20px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-right: 10px;
}

.button {
  background-color: #456c86;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #263b4a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
